* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--white);
    font-family: var(--body);
}

a{
    text-decoration: none;
    color: black;
}